<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.tracyzhang.app.tracydemo">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application android:name=".DemoApplication"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="MainActivity"></activity>

        <activity android:name=".databinding.DataBindingActivity" android:label="DataBinding" />
        <activity android:name=".toolsns.ToolsNSActivity" />
        <activity android:name=".dialog.DialogDemoActivity" />
        <activity android:name=".memory.MemoryActivity"/>
        <activity android:name=".tinypng.TinyPngActivity" />
        <activity android:name=".recyclerview.RecyclerViewDemo" />
        <activity android:name=".recyclerview.RecyclerViewDemo2" />
        <activity android:name=".permission.PhoneActivity" />
        <activity android:name=".okhttp.OKHttpActivity" />
        <activity android:name=".applist.AppListActivity" />
        <activity android:name=".memory.MemoryLeakWebViewActivity" android:process=":webview">
        </activity>
        <activity android:name=".java8.Java8Activity" />
        <activity android:name=".rxjava.RxJavaDemo" />
        <activity android:name=".classloader.ClazzLoaderActivity" />
        <activity android:name=".constraintlayout.ConstraintActivity" />
        <activity android:name=".looper.LooperActivity" />
        <activity android:name=".activity.ActivityA" android:launchMode="singleTask"/>
        <activity android:name=".activity.ActivityB" android:launchMode="singleTask"/>
        <activity android:name=".activity.ActivityC" />
        <activity android:name=".updateicon.UpdateIcon" />

        <activity android:name=".applink.AppLinkActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="tracyzhang.cc" />
                <data android:scheme="https" android:host="tracyzhang.cc" />
            </intent-filter>
        </activity>

        <activity-alias
                android:name="cc.tracyzhang.activity.11"
                android:enabled="true"
                android:label="11"
                android:icon="@drawable/i11"
                android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
                android:name="cc.tracyzhang.activity.22"
                android:enabled="false"
                android:label="22"
                android:icon="@drawable/i22"
                android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".broadcast.ReceiverActivity" />
        <service android:name=".service.Child1Service" android:process=":child1"/>
        <service android:name=".service.Child2Service" android:process=":child2"/>
        <receiver android:name=".broadcast.KillProcessReceiver"></receiver>

    </application>

</manifest>